<div ng-app="myApp" ng-controller="myController" class="container">
  <form name="form">
    <div class="login-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input name="name" [(ngModel)]="name" matInput placeholder="Enter Album Name" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">

            <mat-form-field appearance="standard">
              <mat-label>Description</mat-label>
              <textarea [(ngModel)]="description" name="description" matInput required></textarea>
            </mat-form-field>

          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button (click)="submitForm()"
              class="btn btn-success pull-right">Submit</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>